[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
contracts = "7LgKNYLik7m5XNsYa92u7MSvcnDmyxkAYJqAFdRmbqGS"

[programs.devnet]
anchor = "7LgKNYLik7m5XNsYa92u7MSvcnDmyxkAYJqAFdRmbqGS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
